<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.is.sn.senPortable"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://schemas.android.com/apk/res/android " xmlns:ns=>

    <ns:uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <ns:uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <ns:application android:allowBackup="true" android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true" android:theme="@style/AppTheme">
        <ns:activity android:name=".MainActivity">
            <ns:intent-filter>
                <ns:action android:name="android.intent.action.MAIN" />

                <ns:category android:name="android.intent.category.LAUNCHER" />
            </ns:intent-filter>
        </ns:activity>
        <ns:meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBqpr4NXn6A1d6LUD83I49JAy6DPx8qPR8" />
    </ns:application>

</manifest>